<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>圈子</title>
    <script src="lib/axios.js"></script>
    <script src="lib/vue.js"></script>
    <script src="lib/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="lib/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/circles.css">
</head>
<body>
<div id="app">
    <header>
        <el-menu default-active="2" class="el-menu-demo" mode="horizontal" @select="handleSelect">
            <el-menu-item index="1"><i class="el-icon-s-home"></i>推荐</el-menu-item>
            <el-menu-item index="2"><i class="el-icon-s-help"></i>圈子</el-menu-item>
            <el-menu-item index="3"><i class="el-icon-message-solid"></i>消息</el-menu-item>
            <el-menu-item>
                <el-form ref="search" :inline="true" :model="searchForm" :rules="searchRules" class="demo-form-inline search-area">
                    <el-form-item>
                        <el-select class="type-input" v-model="searchForm.type" value="post" size="small">
                            <el-option label="帖子" value="post"></el-option>
                            <el-option label="圈子" value="circle"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item prop="content">
                        <el-input class="content-input" v-model="searchForm.content" size="small"
                                  :placeholder="searchForm.type==='post'?'搜帖子':'搜圈子'"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSearch" size="small" round>搜索</el-button>
                    </el-form-item>
                </el-form>
            </el-menu-item>
            <el-submenu index="4">
                <template slot="title">
                    <el-avatar src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>
                    {{username}}
                </template>
                <el-menu-item index="4-1"><i class="el-icon-user"></i> 个人信息</el-menu-item>
                <el-menu-item index="4-2"><i class="el-icon-key"></i> 注销</el-menu-item>
            </el-submenu>
        </el-menu>
    </header>
    <main>
        <el-button v-if="create" type="primary" id="create-btn" icon="el-icon-plus" @click="pushDialog=true"
                   circle></el-button>
        <div class="stream">
            <el-tabs v-model="activeName" @tab-click="handleClick">
                <el-tab-pane label="我的关注" name="first">
                    <el-skeleton :loading="loading" animated :count="5">
                        <template slot="template">
                            <div class="circle-result">
                                <el-skeleton-item variant="image" class="circle-img"></el-skeleton-item>
                                <el-skeleton-item variant="h3" style="width: 150px"></el-skeleton-item>
                                <br>
                                <el-skeleton-item variant="text" style="width: 300px"></el-skeleton-item>
                            </div>
                        </template>
                        <template>
                            <div v-if="circles.length===0">
                                <el-empty description="还没有圈子"></el-empty>
                            </div>
                            <div v-else class="circle-area">
                                <div v-for="circle in circles" class="circle-result">
                                    <el-image class="circle-img"
                                              src="https://img.sj33.cn/uploads/allimg/201003/20100327032625479.jpg"></el-image>
                                    <el-button type="danger" class="cirlce-btn" @click="quitCircle(circle.circleId)" round>取消关注</el-button>
                                    <el-link :underline="false" :href="'singleCircle?circleId='+circle.circleId"><h1>
                                        {{circle.circleName}}</h1></el-link>
                                    <br>
                                    <p>{{circle.circleContent}}</p>
                                    <span>创建时间：{{circle.circleTime}}</span>&nbsp;&nbsp;
                                    <span>圈主：{{circle.master}}</span>&nbsp;&nbsp;
                                    <el-divider></el-divider>
                                </div>
                            </div>
                        </template>
                    </el-skeleton>
                </el-tab-pane>
                <el-tab-pane label="我的管理" name="second">
                    <el-skeleton :loading="loading" animated :count="5">
                        <template slot="template">
                            <div class="circle-result">
                                <el-skeleton-item variant="image" class="circle-img"></el-skeleton-item>
                                <el-skeleton-item variant="h3" style="width: 150px"></el-skeleton-item>
                                <br>
                                <el-skeleton-item variant="text" style="width: 300px"></el-skeleton-item>
                            </div>
                        </template>
                        <template>
                            <div v-if="circles.length===0">
                                <el-empty description="还没有圈子"></el-empty>
                            </div>
                            <div v-else class="circle-area">
                                <div v-for="(circle,i) in circles" class="circle-result">
                                    <el-image class="circle-img"
                                              src="https://img.sj33.cn/uploads/allimg/201003/20100327032625479.jpg"></el-image>
                                    <el-button type="primary" class="cirlce-btn" @click="updateClick(i)" round>修改圈子</el-button>
                                    <el-link :underline="false" :href="'singleCircle?circleId='+circle.circleId"><h1>
                                        {{circle.circleName}}</h1></el-link>
                                    <br>
                                    <p>{{circle.circleContent}}</p>
                                    <span>创建时间：{{circle.circleTime}}</span>&nbsp;&nbsp;
                                    <span>圈主：{{circle.master}}</span>&nbsp;&nbsp;
                                    <el-divider></el-divider>
                                </div>
                            </div>
                        </template>
                    </el-skeleton>
                </el-tab-pane>
            </el-tabs>
        </div>
    </main>
    <el-dialog width="500px" title="创建圈子" :visible.sync="pushDialog">
        <el-form ref="createForm" :rules="rules" :model="pushRequest" class="form-area">
            <el-form-item label="圈子名称" prop="circleName">
                <el-input v-model="pushRequest.circleName"></el-input>
            </el-form-item>
            <el-form-item label="圈子介绍" prop="circleContent">
                <el-input type="textarea" maxlength="500" show-word-limit :autosize="{minRows: 8,maxRows: 16}"
                          v-model="pushRequest.circleContent"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="small" type="primary" @click="createCircle" round>确 定</el-button>
            <el-button size="small" @click="pushDialog = false" round>取 消</el-button>
        </div>
    </el-dialog>

    <el-dialog width="500px" title="修改圈子" :visible.sync="updateDialog">
        <el-form ref="updateForm" :rules="rules" :model="updateRequest" class="form-area">
            <el-form-item label="圈子名称" prop="circleName">
                <el-input v-model="updateRequest.circleName"></el-input>
            </el-form-item>
            <el-form-item label="圈子介绍" prop="circleContent">
                <el-input type="textarea" maxlength="500" show-word-limit :autosize="{minRows: 8,maxRows: 16}"
                          v-model="updateRequest.circleContent"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="small" type="primary" @click="updateCircle" round>确定</el-button>
            <el-button size="small" type="danger" @click="deleteCircle" round>解散圈子</el-button>
            <el-button size="small" @click="updateDialog = false" round>取 消</el-button>
        </div>
    </el-dialog>
</div>
</body>
<script src="js/circles.js"></script>
</html>