<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帖子</title>
    <script src="lib/axios.js"></script>
    <script src="lib/vue.js"></script>
    <script src="lib/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="lib/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/post.css">
</head>
<body>
<div id="app">
    <header>
        <el-page-header class="info-head" @back="goBack" content="帖子详情"></el-page-header>
    </header>
    <main>
        <div class="circle-card">
            <h3>评论内容</h3>
            <div v-if="replay!==-1">
                <el-tag style="margin-bottom: 10px" closable @close="replay=-1">
                    @{{discusses[replay].user}}
                </el-tag>
            </div>
            <el-form ref="discussForm" :model="discussForm" :rules="rules">
                <el-form-item prop="content">
                    <el-input :autosize="{minRows: 4,maxRows: 8}" maxlength="80" show-word-limit type="textarea"
                              placeholder="请输入评论" v-model="discussForm.content"
                              clearable></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="addDiscuss" size="small" round>评论</el-button>
                    <el-badge :value="post.postGood" class="item">
                        <el-button icon="el-icon-thumb" @click="likePost" circle></el-button>
                    </el-badge>
                </el-form-item>
            </el-form>
        </div>
        <div class="stream" v-loading="loading">
            <div id="title">
                <h1>{{post.postName}}&nbsp;<span v-if="post.postKey===1"><el-tag type="warning">精华帖</el-tag></span>
                </h1>
                <br>
                <el-avatar style="float: left"
                           src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>
                &nbsp;&nbsp;
                <el-link :underline="false" style="margin-top: 12px"
                         :href="userId===post.post_UserId?'info':('pinfo?userId='+post.post_UserId)">{{post.user}}
                </el-link>
                <span style="float: right"> 发布时间：{{post.postTime}}</span>
                <el-divider></el-divider>
                <p v-html="post.postContent"></p>
                <el-divider></el-divider>
            </div>
            <div>
                <h2>评论区</h2>
                <div v-if="discusses.length===0" class="discuss-area">
                    <el-empty description="还没有评论"></el-empty>
                </div>
                <div v-else class="discuss-area">
                    <div v-for="(discuss,i) in discusses">
                        <el-avatar style="float: left"
                                   src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>&nbsp;&nbsp;
                        <el-link :underline="false"
                                 :href="userId===discuss.discuss_UserId?'info':('pinfo?userId='+discuss.discuss_UserId)">
                            {{discuss.user}}
                        </el-link>
                        &nbsp;&nbsp;时间：{{discuss.discussTime}}&nbsp;&nbsp;
                        <el-button type="text" @click="replay=i">回复</el-button>
                        <div style="float: right">
                            <el-badge :value="discuss.discussGood" class="item">
                                <el-button icon="el-icon-thumb" @click="likeDiscuss(discuss.discussId,i)"
                                           circle></el-button>
                            </el-badge>
                        </div>
                        <br>
                        <p>
                            <span v-if="discuss.discussReplayed!=null" style="color: #409EFF">@{{discuss.replay}}</span>
                            {{discuss.discussContent}}
                        </p>
                        <el-divider></el-divider>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
<script src="js/post.js"></script>
</html>