<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>推荐</title>
    <script src="lib/axios.js"></script>
    <script src="lib/vue.js"></script>
    <script src="lib/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="lib/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/recommend.css">
</head>
<body>
<div id="app">
    <header>
        <el-menu default-active="1" class="el-menu-demo" mode="horizontal" @select="handleSelect">
            <el-menu-item index="1"><i class="el-icon-s-home"></i>推荐</el-menu-item>
            <el-menu-item index="2"><i class="el-icon-s-help"></i>圈子</el-menu-item>
            <el-menu-item index="3"><i class="el-icon-message-solid"></i>消息</el-menu-item>
            <el-menu-item>
                <el-form ref="search" :inline="true" :model="searchForm" :rules="searchRules" class="demo-form-inline search-area">
                    <el-form-item>
                        <el-select class="type-input" v-model="searchForm.type" value="post" size="small">
                            <el-option label="帖子" value="post"></el-option>
                            <el-option label="圈子" value="circle"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item prop="content">
                        <el-input class="content-input" v-model="searchForm.content" size="small"
                                  :placeholder="searchForm.type==='post'?'搜帖子':'搜圈子'"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSearch" size="small" round>搜索</el-button>
                    </el-form-item>
                </el-form>
            </el-menu-item>
            <el-submenu index="4">
                <template slot="title">
                    <el-avatar src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>
                    {{username}}
                </template>
                <el-menu-item index="4-1"><i class="el-icon-user"></i> 个人信息</el-menu-item>
                <el-menu-item index="4-2"><i class="el-icon-key"></i> 注销</el-menu-item>
            </el-submenu>
        </el-menu>
    </header>
    <main>
        <div class="stream">
            <el-tabs v-model="activeName" @tab-click="handleClick">
                <el-tab-pane label="热门帖子" name="first">
                    <el-skeleton :loading="loading" animated :count="10">
                        <template slot="template">
                           <div class="post-result">
                               <el-skeleton-item variant="h3" style="width: 150px"></el-skeleton-item>
                               <br>
                               <el-skeleton-item variant="text" style="width: 400px"></el-skeleton-item>
                               <el-skeleton-item variant="text" style="width: 800px"></el-skeleton-item>
                           </div>
                        </template>
                        <template>
                            <div v-for="post in posts" class="post-result">
                                <el-link :underline="false" :href="'post?postId='+post.postId"> <h2>{{post.postName}}</h2></el-link>
                                <br>
                                <span>发布时间：{{post.postTime}}</span>&nbsp;&nbsp;
                                <span>用户：{{post.user}}</span>&nbsp;&nbsp;
                                <span>圈子：{{post.circle}}</span>&nbsp;&nbsp;
                                <el-badge :value="post.postGood" class="item">
                                    <i class="el-icon-thumb"></i>
                                </el-badge>
                                <el-divider></el-divider>
                            </div>
                        </template>
                    </el-skeleton>
                </el-tab-pane>
                <el-tab-pane label="热门圈子" name="second">
                    <el-skeleton :loading="loading" animated :count="10">
                        <template slot="template">
                            <div class="circle-result">
                                <el-skeleton-item variant="image" class="circle-img"></el-skeleton-item>
                                <el-skeleton-item variant="h3" style="width: 150px"></el-skeleton-item>
                                <br>
                                <el-skeleton-item variant="text" style="width: 300px"></el-skeleton-item>
                            </div>
                        </template>
                        <template>
                            <div v-for="circle in circles" class="circle-result">
                                <el-image class="circle-img" src="https://img.sj33.cn/uploads/allimg/201003/20100327032625479.jpg"></el-image>
                                <el-link :underline="false" :href="'singleCircle?circleId='+circle.circleId"> <h1>{{circle.circleName}}</h1></el-link>
                                <br>
                                <p>{{circle.circleContent}}</p>
                                <span>创建时间：{{circle.circleTime}}</span>&nbsp;&nbsp;
                                <span>圈主：{{circle.master}}</span>&nbsp;&nbsp;
                                <el-badge :value="circle.hot" class="item">
                                    <i class="el-icon-thumb"></i>
                                </el-badge>
                                <el-divider></el-divider>
                            </div>
                        </template>
                    </el-skeleton>
                </el-tab-pane>
            </el-tabs>
        </div>
    </main>
</div>
</body>
<script src="js/recommend.js"></script>
</html>