<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索帖子</title>
    <script src="lib/axios.js"></script>
    <script src="lib/vue.js"></script>
    <script src="lib/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="lib/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/search.css">
</head>
<body>
<div id="app">
    <header>
        <el-page-header class="info-head" @back="goBack" content="搜索结果"></el-page-header>
    </header>
    <main>
        <div class="stream">
            <h2>共查到 {{list.length}} 个结果</h2>
            <el-divider></el-divider>
            <div v-if="type==='post'">
                <el-skeleton :loading="loading" animated :count="10">
                    <template slot="template">
                        <div class="post-result">
                            <el-skeleton-item variant="h3" style="width: 150px"></el-skeleton-item>
                            <br>
                            <el-skeleton-item variant="text" style="width: 400px"></el-skeleton-item>
                            <el-skeleton-item variant="text" style="width: 700px"></el-skeleton-item>
                        </div>
                    </template>
                    <template>
                        <div v-if="list.length===0">
                            <el-empty description="空空如也，试试别的关键词吧"></el-empty>
                        </div>
                        <div v-else v-for="post in list" class="post-result">
                            <el-link :underline="false" :href="'post?postId='+post.postId"><h2>
                                {{post.postName}}</h2></el-link>
                            <br>
                            <span>发布时间：{{post.postTime}}</span>&nbsp;&nbsp;
                            <span>用户：{{post.user}}</span>&nbsp;&nbsp;
                            <span>圈子：{{post.circle}}</span>&nbsp;&nbsp;
                            <el-badge :value="post.postGood" class="item">
                                <i class="el-icon-thumb"></i>
                            </el-badge>
                            <el-divider></el-divider>
                        </div>
                    </template>
                </el-skeleton>
            </div>
            <div v-else-if="type==='circle'">
                <el-skeleton :loading="loading" animated :count="10">
                    <template slot="template">
                        <div class="circle-result">
                            <el-skeleton-item variant="image" class="circle-img"></el-skeleton-item>
                            <el-skeleton-item variant="h3" style="width: 150px"></el-skeleton-item>
                            <br>
                            <el-skeleton-item variant="text" style="width: 300px"></el-skeleton-item>
                        </div>
                    </template>
                    <template>
                        <div v-if="list.length===0">
                            <el-empty description="空空如也，试试别的关键词吧"></el-empty>
                        </div>
                        <div v-else v-for="circle in list" class="circle-result">
                            <el-image class="circle-img" src="https://img.sj33.cn/uploads/allimg/201003/20100327032625479.jpg"></el-image>
                            <el-link :underline="false" :href="'singleCircle?circleId='+circle.circleId"> <h1>{{circle.circleName}}</h1></el-link>
                            <br>
                            <p>{{circle.circleContent}}</p>
                            <span>创建时间：{{circle.circleTime}}</span>&nbsp;&nbsp;
                            <span>圈主：{{circle.master}}</span>&nbsp;&nbsp;
                                <i class="el-icon-thumb"></i>
                            </el-badge>
                            <el-divider></el-divider>
                        </div>
                    </template>
                </el-skeleton>
            </div>
        </div>
    </main>
</div>
<script src="js/search.js"> </script>
</body>
</html>