<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>圈子浏览</title>
    <script src="lib/axios.js"></script>
    <script src="lib/vue.js"></script>
    <script src="lib/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="lib/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/single-circle.css">
</head>
<body>
<div id="app">
    <header>
        <el-page-header class="info-head" @back="goBack" content="圈子详情"></el-page-header>
    </header>
    <main>
        <div class="circle-card">
            <el-button size="small" v-if="isAttention||isMaster" @click="pushDialog = true" type="primary" round>发帖</el-button>
            <el-button size="small" v-if="!isAttention&&!isMaster" @click="enterCircle" type="primary" round>关注</el-button>
            <el-button size="small" v-if="isAttention&&!isMaster" @click="quitCircle" type="danger" round>取消关注
            </el-button>
            <h3>{{circle.circleName}}</h3>
            <el-image class="circle-img" src="https://img.sj33.cn/uploads/allimg/201003/20100327032625479.jpg"></el-image>
            <br>
            <el-tag>圈主</el-tag>
            <br>
            <span class="circle-content">{{circle.user}}</span>
            <br>
            <br>
            <el-tag>圈子简介</el-tag>
            <br>
            <span class="circle-content">{{circle.circleContent}}</span>
        </div>
        <div class="stream">
            <el-tabs v-model="activeName" @tab-click="handleClick">
                <el-tab-pane label="看帖" name="first">
                    <el-skeleton :loading="loading" animated :count="8">
                        <template slot="template">
                            <div class="post-result">
                                <el-skeleton-item variant="h3" style="width: 150px"></el-skeleton-item>
                                <br>
                                <el-skeleton-item variant="text" style="width: 400px"></el-skeleton-item>
                                <el-skeleton-item variant="text" style="width: 800px"></el-skeleton-item>
                            </div>
                        </template>
                        <template>
                            <div v-if="posts.length===0">
                                <el-empty description="还没有帖子"></el-empty>
                            </div>
                            <div v-else>
                                <div v-for="(post,i) in posts" class="post-result">
                                    <el-button type="warning" v-if="isMaster&&post.postKey===0" class="post-btn" @click="keyPost(i)" size="small" round>加入精华帖</el-button>
                                    <el-link :underline="false" :href="'post?postId='+post.postId"><h2>{{post.postName}}</h2>
                                    </el-link>&nbsp;<el-tag v-if="post.postKey===1" type="warning">精华帖</el-tag>
                                    <br>
                                    <span>发布时间：{{post.postTime}}</span>&nbsp;&nbsp;
                                    <span>用户：{{post.user}}</span>&nbsp;&nbsp;
                                    <span>圈子：{{post.circle}}</span>&nbsp;&nbsp;
                                    <el-badge :value="post.postGood" class="item">
                                        <i class="el-icon-thumb"></i>
                                    </el-badge>
                                    <el-divider></el-divider>
                                </div>
                            </div>
                        </template>
                    </el-skeleton>
                </el-tab-pane>
                <el-tab-pane label="精华帖" name="second">
                    <el-skeleton :loading="loading" animated :count="8">
                        <template slot="template">
                            <div class="post-result">
                                <el-skeleton-item variant="h3" style="width: 150px"></el-skeleton-item>
                                <br>
                                <el-skeleton-item variant="text" style="width: 400px"></el-skeleton-item>
                                <el-skeleton-item variant="text" style="width: 800px"></el-skeleton-item>
                            </div>
                        </template>
                        <template>
                            <div v-if="posts.length===0">
                                <el-empty description="还没有帖子"></el-empty>
                            </div>
                            <div v-else>
                                <div v-for="post in posts" class="post-result">
                                    <el-button type="danger" v-if="isMaster" class="post-btn" @click="cancelKeyPost(post.postId)" size="small" round>取消精华帖</el-button>
                                    <el-link :underline="false" :href="'post?postId='+post.postId"><h2>{{post.postName}}</h2>
                                    </el-link>&nbsp;<el-tag v-if="post.postKey===1" type="warning">精华帖</el-tag>
                                    <br>
                                    <span>发布时间：{{post.postTime}}</span>&nbsp;&nbsp;
                                    <span>用户：{{post.user}}</span>&nbsp;&nbsp;
                                    <span>圈子：{{post.circle}}</span>&nbsp;&nbsp;
                                    <el-badge :value="post.postGood" class="item">
                                        <i class="el-icon-thumb"></i>
                                    </el-badge>
                                    <el-divider></el-divider>
                                </div>
                            </div>
                        </template>
                    </el-skeleton>
                </el-tab-pane>
                <el-tab-pane label="圈友" name="third">
                    <el-skeleton :loading="loading" animated :count="20">
                        <template slot="template">
                            <div style="margin-bottom: 20px">
                                <el-skeleton-item variant="text" style="width: 300px"></el-skeleton-item><br>
                                <el-skeleton-item variant="text"></el-skeleton-item>
                                <br>
                            </div>
                        </template>
                        <template>
                            <div v-if="users.length===0">
                                <el-empty description="还没有圈友"></el-empty>
                            </div>
                            <div v-else>
                                <div v-for="user in users">
                                    <el-avatar style="float: left"
                                               :src="user.userImg"></el-avatar>
                                    &nbsp&nbsp<el-link :underline="false" :href="userId===user.userId?'info':('pinfo?userId='+user.userId)">{{user.userName}}</el-link>
                                    <el-button style="float: right" v-if="isMaster&&circle.circle_UserId!==user.userId" size="mini" @click="kick(user.userId)" type="danger" round>踢人</el-button>
                                    <el-divider></el-divider>
                                </div>
                            </div>
                        </template>
                    </el-skeleton>
                </el-tab-pane>
            </el-tabs>
        </div>
    </main>
    <el-dialog width="500px" title="发帖" :visible.sync="pushDialog">
        <el-form ref="createForm" :rules="rules" :model="pushRequest" id="form-area">
            <el-form-item label="帖子名称" prop="postName">
                <el-input v-model="pushRequest.postName"></el-input>
            </el-form-item>
            <el-form-item label="帖子内容" prop="postContent">
                <el-input type="textarea" maxlength="3000" show-word-limit :autosize="{minRows: 8}"
                          v-model="pushRequest.postContent"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="small" @click="pushDialog = false" round>取 消</el-button>
            <el-button size="small" type="primary" @click="addPost" round>确 定</el-button>
        </div>
    </el-dialog>
</div>
<script src="js/single-circle.js"></script>
</body>
</html>