body{
    background: #eeeeee;
}

.stream {
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    width: 720px;
    margin: 0 auto;
    min-height: 600px;
}

main {
    margin-top: 90px;
    margin-bottom: 40px;
}

#intro-area{
    min-height: 300px;
    margin-bottom: 20px
}

#update-btn{
    float: right;
    margin-top: 10px;
}

#form-area{
    width: 400px;
    margin: 0 auto;
}

#card-title {
    float: left;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 6px;
}

.clearfix{
    overflow: hidden;
}