body {
    background-image: url("../res/login_bk.png");
    background-size: cover;
    background-attachment: fixed;
}

#register-btn {
    float: right;
    padding: 3px 0
}

#login-card {
    height: 380px;
}

#card-title {
    font-weight: bolder;
    font-size: 20px;
}

#form-area #btn-area {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-area {
    padding-left: 5%;
    padding-right: 5%;
}

.login-type{
    color: white;
}