body{
    background: #eeeeee;
}

.stream {
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
    width: 720px;
    margin: 0 auto;
    min-height: 1000px;
}

main {
    margin-top: 20px;
    margin-bottom: 40px;
}

.circle-result{
    height: 200px;
    overflow: hidden;
}

.post-result{
    height: 150px;
}

.circle-img{
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 50px;
}