<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhu.dao.DiscussDao">
    <insert id="insertDiscuss" parameterType="Discuss">
        insert into discuss(discussContent, discussReplayed, discussGood, discussTime, discuss_UserId, discuss_PostId)
        values (#{discussContent}, #{discussReplayed}, #{discussGood}, #{discussTime}, #{discuss_UserId},
                #{discuss_PostId})
    </insert>

    <update id="likeDiscuss" parameterType="int">
        update discuss
        set discussGood=discussGood + 1
        where discussId = #{discussId}
    </update>

    <delete id="deleteDiscuss" parameterType="int">
        delete
        from discuss
        where discussId = #{discussId}
    </delete>
</mapper>