<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhu.dao.ReportDao">
    <insert id="InsertReport" parameterType="Report">
        insert into report(reportContent, reportType, reportUserIdGet, reportPostId, reportDiscussId, reportTime,
                           reportUserIdSet)
        values (#{reportcontent}, #{reporttype}, #{reportuseridget}, #{reportpostid}, #{reportdiscussid}, #{reporttime},
                #{reportuseridset})
    </insert>

</mapper>